@media all and (min-width: 801px) {

    #block-menu-menu-studio ul li {
        display: table-cell;
    }

    .main-nav div div .menu {
        display: table;
    }

    .main-nav div div .menu li {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        padding: 5px 0px;
        text-align: center;
        display: table-cell;
        float: none;
        border-style: solid;
        border-color: white;
        border-width: 0 3px 0 0;
        /* text-transform: uppercase; */
    }

    .main-nav div div .menu li:last-child {
        border: none;
    }

    .main-nav div div .menu li ul {
        display: none;
    }

    body {
        border-top: solid 6px #0083d6;
    }

    header[role="banner"] {
        padding-top: 3.5em;
    }

    header[role="banner"]>div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        background: #fff;
    }

    .western-header {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        height: 0;
    }

    .western-header .western-logo {
        display: block;
        float: left;
        margin-left: 10px;
        position: absolute;
        top: -5px;
    }

    .western-header .western-logo a {
        display: block;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        background: url(/sites/all/themes/wwuzen/images/wwu.png) no-repeat;
        width: 170px;
        height: 160px;
        background-size: contain;
    }

    .western-header nav {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
    }

    .western-header .western-search,.western-header .western-quick-links {
        float: left;
    }

    .western-header .western-search>button {
        top: 44px;
        height: 44px;
        width: 44px;
        cursor: pointer;
        background: url(/sites/all/themes/wwuzen/images/icons/search.png) no-repeat;
        background-size: cover;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/themes/wwuzen/images/icons/search.png',sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/themes/wwuzen/images/icons/search.png',sizingMethod='scale')";
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
    }

    .western-header .western-search .western-search-widget {
        position: absolute;
        top: 44px;
        right: 0;
        margin-top: 0;
        display: none;
    }

    .western-header .western-quick-links {
        margin-right: 1em;
    }

    .western-header .western-quick-links ul {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        margin: 0;
        padding: 0;
    }

    .western-header .western-quick-links ul li {
        line-height: 44px;
    }

    .western-header .western-quick-links ul li:not(:first-child):before {
        content: "\00B7 \0020 ";
    }

    .western-header .western-quick-links ul a span:first-child {
        display: none;
    }

    .western-header .western-quick-links>button {
        display: none;
    }

    .western-header .mobile-main-nav {
        display: none;
    }

    .site-header {
        clear: both;
        float: left;
        line-height: 0;
        position: relative;
    }

    .site-header>a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .site-header .site-banner img {
        width: 100%;
        max-width: none;
    }

    .site-header .site-name {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #0070b6;
        background-color: rgba(0,112,182,0.8);
        display: none;
    }

    .site-header .site-name p {
        margin: 0;
    }

    main {
        clear: left;
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        width: 100%;
        margin-bottom: 4.250em;
    }

    .sidebar-first .content {
        float: left;
        width: 72.91667%;
        margin-left: 27.08333%;
        margin-right: -100%;
    }

    .sidebar-first #block-accordion-menu-1 {
        display: block;
    }

    .sidebar-first .region-sidebar-first {
        float: left;
        width: 25%;
        margin-left: 0%;
        margin-right: -25%;
    }

    footer {
        clear: both;
    }

    .footer-wrapper {
        max-width: 1080px;
        margin: 0 auto;
    }

    .footer-left {
        float: left;
        
        margin-left: 0%;
        margin-right: -22.22222%;
    }

    .footer-left .region {
        margin-left: 20px;
    }

    .footer-left .footer-site-name,.footer-left p:first-child {
        margin: 1em 0;
    }

    .footer-center {
        float: left;
        width: 44.44444%;
        margin-left: 22.22222%;
        margin-right: -66.66667%;
    }

    .footer-center .region,.footer-center .western-privacy-statement {
        max-width: 70%;
        margin: 0 auto;
    }

    .footer-center .western-privacy-statement a {
        padding-left: 30px;
    }

    .footer-right {
        float: right;
        width: 33.33333%;
        margin-right: 0%;
        margin-left: -33.33333%;
        max-width: 310px;
        margin-top: -.5em;
        margin-right: 1em;
    }

    .footer-right h1 {
        position: relative;
        top: -1.2em;
        margin: 0;
    }

    .footer-right .western-contact-info,.footer-right .western-social-media ul {
        padding-left: 16px;
        padding-left: 1rem;
    };


    .footer-wrapper {
        max-width: 1080px;
        margin: 0 auto;
    }



    .footer-center {
        float: left;
        width: 44.44444%;
        margin-left: 22.22222%;
        margin-right: -66.66667%;
    }

    .footer-right {
        float: right;
        width: 33.33333%;
        margin-right: 0%;
        margin-left: -33.33333%;
        max-width: 310px;
        margin-top: -.5em;
        margin-right: 1em;
    }

    .footer-right h1 {
        position: relative;
        top: -1.2em;
        margin: 0;
    };

    
}