/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

@import url("//fonts.googleapis.com/css?family=Muli:400,400italic");

header[role="banner"] {
    position: relative;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display: block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.5em;
}

html,button,input,select,textarea {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:hover,a:active {
    outline: 0;
}

/* h1{font-size:1.75em;line-height:1.71429em;margin-top:0.85714em;margin-bottom:0.85714em} */

h2 {
    font-size: 1.6em;
    line-height: 1.875em;
    margin-top: 0.9375em;
    margin-bottom: 0.9375em;
}

h3 {
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.17em;
    line-height: 1.28205em;
    margin-top: 1.28205em;
    margin-bottom: 1.28205em;
}

h5 {
    font-size: 0.925em;
    line-height: 1.62162em;
    margin-top: 1.62162em;
    margin-bottom: 1.62162em;
}

h6 {
    font-size: 0.75em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    height: 1px;
    border: 1px solid #666;
    padding-bottom: -1px;
    margin: 1.5em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
    white-space: nowrap;
}

b,strong {
    font-weight: bold;
}

blockquote {
    margin: 1.5em 30px;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

.content p,pre {
    margin: 1.5em 0;
}

pre,code,kbd,samp,tt,var {
    font-family: "Courier New","DejaVu Sans Mono",monospace,sans-serif;
    _font-family: 'courier new',monospace;
    font-size: 1em;
    line-height: 1.5em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

dl,menu,ol,ul,.item-list ul {
    margin: 1.5em 0;
}

.item-list ul li {
    margin: 0;
}

dd {
    margin: 0 0 0 30px;
}

ul ul,ul ol,ol ul,ol ol,.item-list ul ul,.item-list ul ol,.item-list ol ul,.item-list ol ol {
    margin: 0;
}

menu,ol,ul,.item-list ul {
    padding: 0 0 0 30px;
}

nav ul,nav ol {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 5px;
}

fieldset {
    border-color: #c0c0c0;
    margin: 0 2px;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 0.4625em;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 0.9125em;
    border-left-style: solid;
    border-left-width: 0.0625em;
    padding-left: 0.9125em;
    border-right-style: solid;
    border-right-width: 0.0625em;
    padding-right: 0.9125em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,input {
    line-height: normal;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

button[disabled],input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

th {
    text-align: left;
    padding: 0;
    border-bottom: none;
}

tbody {
    border-top: none;
}

.with-wireframes .site-header,.with-wireframes main,.with-wireframes .content,.with-wireframes .main-nav,.with-wireframes .region-sidebar-first,.with-wireframes .region-sidebar-second,.with-wireframes footer,.with-wireframes .region-bottom {
    outline: 1px solid #ccc;
}

.lt-ie8 .with-wireframes .site-header,.lt-ie8 .with-wireframes main,.lt-ie8 .with-wireframes .content,.lt-ie8 .with-wireframes .main-nav,.lt-ie8 .with-wireframes .region-sidebar-first,.lt-ie8 .with-wireframes .region-sidebar-second,.lt-ie8 .with-wireframes footer,.lt-ie8 .with-wireframes .region-bottom {
    border: 1px solid #ccc;
}

.page,.region-bottom {
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.page,footer {
    *position: relative;
    *zoom: 1;
}

.page:before,.page:after,footer:before,footer:after {
    content: "";
    display: table;
}

.page:after,footer:after {
    clear: both;
}

.site-name p {
    text-decoration: none;
    color: #fff;
    margin: 0.4em 0 0 0;
    display: block;
    width: 80%;
    font-size: 1.25em;
    text-align: left;
    padding: 0;
}

main {
    clear: left;
    margin-top: 0em;
}

main .breadcrumb {
    display: none;
}

html.ie9 main {
    float: left;
}

#block-accordion-menu-1 {
    display: none;
}

#edit-subject {
    width: 100%;
}

.left-column {
    float: left;
    width: 100%;
}

.right-column {
    clear: left;
    width: 100%;
}

.footer-left {
margin-left: 3%;
}

.footer-left #footer-left-heading h3 {
font-size:1.3em;
color:#ffffff;
margin-top:14px;
}

.footer-left #footer-left-contact-info {
padding-right:1.25em;
margin-top:1.500em;
font-size:.750em
}

.footer-left p:first-child, .footer-left dl:first-child {
font-size:95%;
line-height: 1.7;
margin-bottom:1.500em;
display: block;
clear: both !important;
}

.footer-left #footer-left-contact-info img {
float:left;padding-right:.625em;
}

.footer-left #footer-left-contact-info p {
margin-bottom:10;
}

.footer-left #footer-left-contact-info a {
color:#fff
}

ul.primary,ul.secondary {
    overflow: hidden;
    *zoom: 1;
    border-bottom: 1px solid #bbb;
    list-style: none;
    margin: 1em 0 1.5em;
    padding: 0 2px;
    white-space: nowrap;
}

ul.primary li,ul.secondary li {
    float: left;
    margin: 0.5em 3px 0;
}

ul.primary a,ul.secondary a {
    border: 1px solid #e9e9e9;
    border-right: 0;
    border-bottom: 0;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
}

ul.primary li {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    text-shadow: 1px 1px 0 #fff;
    border: 1px solid #bbb;
    border-bottom: 0;
    margin: 0.5em 0 0 3px;
}

ul.primary li.active {
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

ul.primary a:link,ul.primary a:visited {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    color: #333;
    background-color: #dedede;
    letter-spacing: 1px;
    padding: 0 1em;
    text-align: center;
}

ul.primary a:hover,ul.primary a:focus {
    background-color: #e9e9e9;
    border-color: #f2f2f2;
}

ul.primary a.active {
    background-color: transparent;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFE9E9E9',endColorstr='#00E9E9E9');
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#e9e9e9),color-stop(100%,rgba(233,233,233,0)));
    background-image: -webkit-linear-gradient(#e9e9e9,rgba(233,233,233,0));
    background-image: -moz-linear-gradient(#e9e9e9,rgba(233,233,233,0));
    background-image: -o-linear-gradient(#e9e9e9,rgba(233,233,233,0));
    background-image: linear-gradient(#e9e9e9,rgba(233,233,233,0));
    border-color: #fff;
}

ul.secondary {
    font-size: .9em;
    margin-top: -1.5em;
    padding-bottom: .5em;
}

ul.secondary a:link,ul.secondary a:visited {
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -ms-border-radius: 0.75em;
    -o-border-radius: 0.75em;
    border-radius: 0.75em;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    text-shadow: 1px 1px 0 #fff;
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
}

ul.secondary a:hover,ul.secondary a:focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
}

ul.secondary a.active,ul.secondary a:active {
    text-shadow: 1px 1px 0 #333;
    background-color: #666;
    border-color: #000;
    color: #fff;
}

.westernIcons-sprite,.westernIcons-AddressIcon,.footer-right .western-contact-info .western-address:before,.westernIcons-EmailIcon,.footer-right .western-contact-info .western-contact:before,.westernIcons-FacebookIcon,.westernIcons-FlickrIcon,.westernIcons-GooglePlusIcon,.westernIcons-PhoneIcon,.footer-right .western-contact-info .western-telephone:before,.westernIcons-RSSicon,.westernIcons-TwitterIcon,.westernIcons-YouTubeIcon {
    background: url(/sites/all/themes/wwuzen/images/westernIcons-sd8c13cd9e2.png) no-repeat;
}

.westernIcons-AddressIcon,.footer-right .western-contact-info .western-address:before {
    background-position: 0 -144px;
}

.westernIcons-EmailIcon,.footer-right .western-contact-info .western-contact:before {
    background-position: 0 -156px;
}

.westernIcons-FacebookIcon {
    background-position: 0 -120px;
}

.westernIcons-FlickrIcon {
    background-position: 0 -96px;
}

.westernIcons-GooglePlusIcon {
    background-position: 0 0;
}

.westernIcons-PhoneIcon,.footer-right .western-contact-info .western-telephone:before {
    background-position: 0 -164px;
}

.westernIcons-RSSicon {
    background-position: 0 -48px;
}

.westernIcons-TwitterIcon {
    background-position: 0 -72px;
}

.westernIcons-YouTubeIcon {
    background-position: 0 -24px;
}

.float-left,.left {
    float: left;
    margin: 1em 1em 1em 0;
}

.float-right,.right {
    float: right;
    margin: 1em 0 1em 1em;
}

.helper-clear-float {
    clear: both;
}

.helper-width-25-percent {
    width: 25%;
}

.helper-width-33-percent {
    width: 33%;
}

.helper-width-50-percent {
    width: 50%;
}

.helper-width-66-percent {
    width: 66%;
}

.helper-width-75-percent {
    width: 75%;
}

.helper-width-100-percent {
    width: 100%;
}

.helper-no-margin {
    margin: 0;
}

.helper-no-left-margin {
    margin-left: 0;
}

.helper-no-right-margin {
    margin-right: 0;
}

.helper-no-top-margin {
    margin-top: 0;
}

.helper-no-bottom-margin {
    margin-bottom: 0;
}

.helper-thin-padding {
    padding: 0.5em;
}

.helper-medium-padding {
    padding: 1em;
}

.helper-thick-padding {
    padding: 2em;
}

.helper-no-padding {
    padding: 0;
}

.helper-no-left-padding {
    padding-left: 0;
}

.helper-no-right-padding {
    padding-right: 0;
}

.helper-no-top-padding {
    padding-top: 0;
}

.helper-no-bottom-padding {
    padding-bottom: 0;
}

.helper-center-content {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    -webkit-font-smoothing: antialiased;
}

#skip-link {
    margin: 0;
}

#skip-link a,#skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
}

header[role="banner"] button {
    outline: none;
}

.western-header .western-search-widget {
    background: #fff;
    padding: 0;
    display: block;
    overflow: hidden;
    z-index: 200;
    height: 4em;
    width: 18.25em;
    margin-top: -.31em;
    -webkit-box-shadow: #333 0 0 8px;
    -moz-box-shadow: #333 0 0 8px;
    box-shadow: #333 0 0 8px;
}

.western-header .western-search-widget.hide {
    display: none;
}

.western-header .western-search-widget .form-item .form-text:focus,.western-header .western-search-widget .form-item .form-text:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.western-header .western-search-widget a {
    color: #999;
    line-height: 31px;
    background: #E4E4E4;
    height: 2.063em;
    float: left;
    width: 12px;
    text-align: center;
    text-decoration: none;
}

.western-header .western-search-widget a:hover,.western-header .western-search-widget a:focus {
    color: #666;
}

.western-header .western-search-widget input {
    font-size: .85em;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #bad80a;
    margin: .5em .25em .25em .75em;
    padding: .25em 0 .1em 0;
}

.western-header .western-search-widget input:focus {
    outline: none;
}

.western-header .western-search-widget .form-submit {
    background-color: #0070b6;
    color: #fff;
    margin: 0;
    padding: 0 1em;
    border: none;
    height: 4.75em;
    position: absolute;
    top: 0;
    right: -1px;
    border-radius: 0;
}

.western-header .western-search-widget .form-type-checkbox {
    display: block;
    margin: 0;
}

.western-header .western-search-widget .form-type-checkbox label {
    color: gray;
    font-size: .625em;
    font-weight: normal;
}

.western-header .western-search-widget input[type='checkbox'] {
    height: 12px;
    width: 12px;
}

.western-quick-links ul {
    font-size: .8em;
}

.western-quick-links ul li {
    display: inline-block;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    padding-left: .5em;
}

.western-quick-links ul li img {
    margin-top: -1px;
}

.western-quick-links ul li a {
    text-decoration: none;
    padding-left: 6px;
    color: #003f87;
}

.western-quick-links ul li a:hover,.western-quick-links ul li a:focus {
    color: #0070b6;
}

@media all and (min-width:801px) {
    .site-name {
        z-index: 99;
        min-width: 200px;
        max-width: 250px;
        min-height: 25px;
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: right;
        padding: .75em 1em;
        line-height: 1.1;
    }

    .site-name p,.site-name dl {
        text-decoration: none;
        color: #fff;
    };
}

main {
    background-color: #FFF;
    padding-bottom: 250px;
}

.region-header,.main-nav,.content {
    clear: both;
}

.breadcrumb {
    float: right;
    font-size: .75em;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    color: gray;
    line-height: 2.17;
}

.breadcrumb ol {
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: gray;
}

.breadcrumb li a {
    color: #0070b6;
    text-decoration: none;
}

.breadcrumb li a.active {
    color: #cc2d30;
}

.breadcrumb li a:hover,.breadcrumb li a:focus {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #0070b6;
}

a:hover,a:focus {
    text-decoration: underline;
}

.secondary-nav {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}

.block-title {
    font-size: 1em;
}

footer h2.block-title {
    color: #fff;
}

.title-underline {
    border-bottom: #ddd 3px solid;
    padding-bottom: .25em;
}

.content .code,.content code {
    font-family: "Courier New",Courier,monospace;
    font-weight: 700;
    color: #cc2d30;
    margin-left: 3em;
}

.content p,.content dl {
    margin-top: 0;
    margin-bottom: .5em;
}

blockquote .content p,blockquote .content dl {
    font-size: 1em;
}

.content p code,.content dl code {
    margin-left: 0;
}

.content blockquote {
    background: #ddd;
    padding: 1em 1.5em;
    margin: .5em 0;
    max-width: 75%;
    min-width: 45%;
}

.content blockquote p:last-child,.content blockquote dl:last-child {
    margin-bottom: 0;
}

main ul,main ol {
    margin: 0;
}

.diminutive-type {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    font-family: serif;
}

table {
    border-collapse: collapse;
    font-size: .85em;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    font-weight: normal;
    background-color: #ddd;
}

td,th {
    padding: .5em;
    text-align: left;
}

tr {
    border-bottom: 1px solid #fff;
}

td,th {
    border-right: 1px solid #fff;
}

dl {
    margin-left: 1.5em;
}

dl dd {
    margin-left: 1.5em;
}

figure {
    background-color: #fff;
    padding: .75em;
    margin: .75em;
    -webkit-box-shadow: 0 0 4px 2px #ddd;
    -moz-box-shadow: 0 0 4px 2px #ddd;
    box-shadow: 0 0 4px 2px #ddd;
    display: inline-block;
}

figure img {
    margin: 0 auto;
}

figure figcaption {
    margin-top: .5em;
    font-size: 13px;
    font-size: .85rem;
    line-height: 1.5;
    font-style: italic;
    color: #555;
}

div.messages {
    margin: 1.5em 0;
}

div.messages ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul.inline {
    display: inline;
    padding: 0;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
}

span.field-label {
    padding: 0 1em 0 0;
}

.item-list .pager {
    padding: 0;
}

.item-list .pager li {
    padding: 0 0.5em;
}

footer {
    background-color: #003f87;
    color: white;
    border-top: 10px solid #fff;
    padding-bottom: .5em;
}

footer a:hover,footer a:focus,footer a:active {
    color: #bad80a;
}

.footer-center ul.menu li {
    border-bottom: 1px solid #fff;
    list-style-image: none;
    list-style-type: none;
    font-size: .875em;
    padding-top: .5em;
}

.footer-center ul.menu li a {
    color: #fff;
    text-decoration: none;
    padding-left: .15em;
    text-transform: capitalize;
}

.footer-center ul.menu li a:hover,.footer-center ul.menu li a:focus {
    color: #bad80a;
}

.footer-right {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNWE4ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwM2Y4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#3a5a8f),color-stop(100%,#003f87));
    background: -webkit-linear-gradient(top,#3a5a8f,#003f87);
    background: -moz-linear-gradient(top,#3a5a8f,#003f87);
    background: -o-linear-gradient(top,#3a5a8f,#003f87);
    background: linear-gradient(top,#3a5a8f,#003f87);
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}

.footer-right h1 {
    -webkit-box-shadow: #555 0 0 7px;
    -moz-box-shadow: #555 0 0 7px;
    box-shadow: #555 0 0 7px;
    padding: .75em 0;
    font-weight: normal;
    text-align: center;
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    font-size: 1rem;
    box-sizing: border-box;
    text-transform: uppercase;
}

.footer-right h1 a {
    margin: 0;
    padding-top: 0.8em;
    border: none;
    text-decoration: none;
    color: #003f87;
}

.footer-right h1 a:hover,.footer-right h1 a:active,.footer-right h1 a:focus {
    color: #0070b6;
}

.footer-right .western-contact-info {
    font-size: .750em;
}

.footer-right .western-contact-info a {
    color: #fff;
}

.footer-right .western-contact-info p,.footer-right .western-contact-info dl {
    position: relative;
    padding-left: 2em;
    margin-bottom: .75em;
    margin-top: 0;
    line-height: 1.5em;
}

.footer-right .western-contact-info p:last-child,.footer-right .western-contact-info dl:last-child {
    margin-bottom: 1.25em;
}

.footer-right .western-contact-info p:before,.footer-right .western-contact-info dl:before {
    position: absolute;
    top: 0.5em;
    left: 0;
    content: " ";
}

.footer-right .western-contact-info .western-address:before {
    width: 14px;
    height: 12px;
    margin-top: -1px;
}

.footer-right .western-contact-info .western-telephone:before {
    width: 12px;
    height: 10px;
}

.footer-right .western-contact-info .western-contact:before {
    width: 11px;
    height: 8px;
    margin-left: 1px;
    margin-top: 2px;
}

.footer-right .western-social-media {
    position: relative;
}

.footer-right .western-social-media li {
    list-style: none;
    display: inline-block;
}

.footer-right .western-social-media a {
    width: 24px;
    height: 24px;
    display: block;
    text-indent: -999em;
}

.footer-right .western-social-media a:focus {
    border-bottom: 3px solid #bad80a;
}

html.js input.form-autocomplete {
    background-position: 100% 5px;
}

.main-menu div.contextual-links-wrapper ul.contextual-links {
    display: none;
}

.flexslider .flex-direction-nav a {
    line-height: 40px;
}

.ui-helper-reset {
    line-height: 1.5;
}

.ui-accordion .ui-accordion-header {
    padding: 0;
}

.ui-accordion .accordion-row .ui-state-active,.ui-accordion .accordion-row .ui-widget-content .ui-state-active,.ui-accordion .accordion-row .ui-widget-header .ui-state-active {
    border: none;
    border-bottom: solid 3px white;
    background: #e9e9e9;
}

.ui-accordion .accordion-row .ui-state-default,.ui-accordion .accordion-row .ui-widget-content .ui-state-default,.ui-accordion .accordion-row .ui-widget-header .ui-state-default {
    border: none;
    background: none;
}

.ui-accordion .accordion-row .block-accordion-menu .ui-accordion-header,.ui-accordion .accordion-row .ui-accordion-content.ui-accordion-content-active,.ui-accordion .accordion-row .ui-accordion-content {
    background-color: #e9e9e9;
    border: none;
    padding: 1em;
}

.ui-accordion .accordion-row .ui-accordion-header a {
    padding: .625em 0 .625em 2.2em;
}

.ui-accordion .accordion-row .ui-accordion-header a h2 {
    font-size: 1.17rem;
    margin: 0;
}

.accordion-row .ui-accordion .accordion-row p:last-child,.accordion-row .ui-accordion .accordion-row dl:last-child {
    margin-bottom: 0;
}

.accordion-row .ui-accordion ~ .item-list ul.pager {
    margin-top: .5em;
}

.accordion-row .ui-accordion-content a {
    display: inline;
    padding-left: 0;
}

.view .ui-accordion .field-content {
    display: inline;
    padding-left: 0;
}

.accordion-fix-title a {
    position: relative;
    left: 1.7em;
}

.accordion-fix-body .field-body a {
    display: inline;
    padding: 0em;
    color: #0070B6;
}

.block {
    margin-bottom: 1.5em;
}

#block-user-login .block-title {
    font-size: 1.25em;
    text-transform: capitalize;
}

.preload .accordion-menu-wrapper {
    display: none;
}

.accordion-menu-wrapper {
    display: block;
}

ul li.expanded {
    *list-style-image: url(/sites/all/themes/wwuzen/images/menu-expanded.png);
    list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==');
    list-style-type: circle;
}

ul li.collapsed {
    *list-style-image: url(/sites/all/themes/wwuzen/images/menu-collapsed.png);
    list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC');
    list-style-type: disc;
}

ul li.leaf {
    *list-style-image: url(/sites/all/themes/wwuzen/images/menu-leaf.png);
    list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAAD1BMVEX///+/v7+Li4sAAADAwMBFvsw8AAAAAXRSTlMAQObYZgAAAB1JREFUCFtjYAADYwMGBmYVZSDhKAwkFJWhYiAAAB2+Aa/9ugeaAAAAAElFTkSuQmCC');
    list-style-type: square;
}

li a.active {
    color: #000;
}

.main-nav .block {
    margin-bottom: 0;
    width: 100%;
}

.main-nav .block-menu .block-title,.main-nav .block-menu-block .block-title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
}

.main-nav .links,.main-nav .menu {
    margin: 0;
    padding: 0;
    text-align: left;
}

.main-nav .links li,.main-nav .menu li {
    float: left;
    list-style-type: none;
    list-style-image: none;
}

.secondary-menu {
    float: right;
}

.main-nav {
    float: left;
    width: 100%;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}

.main-nav .menu {
    width: 100%;
}

.main-nav .menu li {
    background-color: #003f87;
    cursor: pointer;
}

.main-nav .menu li a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
    display: block;
}

.main-nav .menu li:hover,.main-nav .menu li:focus,.main-nav .menu li:active {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    background-color: #ddd;
}

.main-nav .menu li:hover,.main-nav .menu li:hover>a,.main-nav .menu li:focus,.main-nav .menu li:focus>a,.main-nav .menu li:active,.main-nav .menu li:active>a {
    color: #003f87;
}

.main-nav .menu li.active {
    background-color: #bad80a;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.main-nav .menu li.active:hover,.main-nav .menu li.active:focus,.main-nav .menu li.active:active {
    background-color: #eee;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.main-nav .menu li.active .active {
    color: #003f87;
}

.block-accordion-menu .ui-accordion-header,.ui-accordion .ui-accordion-content {
    background-color: #eee;
    background-image: none;
    border: none;
    border-bottom: solid 1px #fff;
    margin: 0;
}

.search-form .form-text {
    width: 100%;
    box-sizing: border-box;
}

.search-form .form-submit {
    padding: 1em 1.5em;
    margin-top: 1em;
}

@media all and (min-width:800px) {
    .search-form .form-text {
        width: 45%;
    }

    .search-form .form-submit {
        padding: 0.25em 0.75em;
        margin-top: 0px;
    };
}

.form-item {
    margin: 1.25em 0;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}

.form-item .form-text {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    padding: .25em;
    background: #fff;
    border-width: 1px;
    border-color: gray;
    border-radius: 1px;
}

.form-item .form-text:focus,.form-item .form-text:active {
    outline: none;
    -webkit-box-shadow: 0 0 4px 0 #0070b6;
    -moz-box-shadow: 0 0 4px 0 #0070b6;
    box-shadow: 0 0 4px 0 #0070b6;
}

.form-item input.error,.form-item textarea.error,.form-item select.error {
    border: 1px solid #c00;
    color: #cc2d30;
}

.form-item label {
    display: block;
    font-weight: normal;
}

.form-item label.option {
    display: inline;
}

.form-item .form-required {
    color: #0070b6;
}

.form-item .description {
    font-size: 0.85em;
}

.form-checkboxes .form-item,.form-radios .form-item {
    margin: 0;
}

.form-submit {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    font-size: .925em;
    padding: .25em .75em;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
}

.form-submit:hover,.form-submit:focus,.form-submit:active {
    -webkit-box-shadow: 0 0 2px #bad80a;
    -moz-box-shadow: 0 0 2px #bad80a;
    box-shadow: 0 0 2px #bad80a;
}

.container-inline div,.container-inline label {
    display: inline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.password-parent,.confirm-parent {
    margin: 0;
}

#block-search-form input[type=submit] {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    padding: .25em .75em;
    background: #fff;
    border: solid 1px #ddd;
    border-radius: 3px;
    margin-left: .75em;
    -webkit-box-shadow: 0 0 2px #ddd;
    -moz-box-shadow: 0 0 2px #ddd;
    box-shadow: 0 0 2px #ddd;
}

#block-search-form input[type=submit]:hover,#block-search-form input[type=submit]:focus,#block-search-form input[type=submit]:active {
    -webkit-box-shadow: 0 0 2px #bad80a;
    -moz-box-shadow: 0 0 2px #bad80a;
    box-shadow: 0 0 2px #bad80a;
}

#search-form .form-item-keys label {
    display: block;
}

#user-login-form {
    text-align: left;
}

#user-login-form ul {
    padding: 0;
    list-style-type: none;
    font-size: .75em;
    margin: 0;
}

html.js #user-login-form li.openid-link,#user-login-form li.openid-link {
    margin-top: 1.5em;
    margin-left: -20px;
}

#user-login-form li.user-link {
    margin-top: 1.5em;
}

#user-login-form .item-list ul {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}

form th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
}

form tbody {
    border-top: 1px solid #ccc;
}

form tr.even {
    background-color: #fff;
}

form table .item-list ul {
    margin: 0;
}

.lt-ie8 tr.even th,.lt-ie8 tr.even td,.lt-ie8 tr.odd th,.lt-ie8 tr.odd td {
    border-bottom: 1px solid #ccc;
}

td.menu-disabled {
    background: #ccc;
}

table th {
    font-weight: bold;
}

table td,table th {
    padding: 9px 10px;
    text-align: left;
}

@media all and (max-width:767px) {
    table.responsive {
        margin-bottom: 0;
    }

    .pinned {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 35%;
        overflow: hidden;
        overflow-x: scroll;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }

    .pinned table {
        border-right: none;
        border-left: none;
        width: 100%;
    }

    .pinned table th,.pinned table td {
        white-space: nowrap;
    }

    .pinned td:last-child {
        border-bottom: 0;
    }

    div.table-wrapper {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden;
        border-right: 1px solid #ccc;
    }

    div.table-wrapper div.scrollable table {
        margin-left: 35%;
    }

    div.table-wrapper div.scrollable {
        overflow: scroll;
        overflow-y: hidden;
    }

    table.responsive td,table.responsive th {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }

    table.responsive th:first-child,table.responsive td:first-child,table.responsive td:first-child,table.responsive.pinned td {
        display: none;
    };
}

.wwu-33-percent-left-column .pane-block .form-text {
    color: #bbb;
    font-size: 1em;
    border: 1px solid #bbb;
    box-shadow: 0 0 2px #ddd inset;
}

.cfpa-bottom-right-bottom .pane-block .form-text:focus,.wwu-33-percent-left-column .pane-block .form-text:focus {
    color: #333;
}

.cfpa-bottom-right-bottom .pane-block .form-submit,.wwu-33-percent-left-column .pane-block .form-submit {
    background: none repeat scroll 0% 0% #0083D6;
    border: 1px solid #CCC;
    border-radius: 0px;
    color: #FFF;
    font-size: 1em;
    box-shadow: none;
}

.wwu-33-percent-left-column .panel-pane {
    margin-bottom: 1em;
}

header[role="banner"]>div {
    max-height: none;
}

.pane-title {
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1.5em;
}

.page {
    position: relative;
}

.parent-site-header {
    height: 34px;
    background-color: #0083d6;
    width: 100%;
}

#site-title {
    padding-left: 250px;
    color: white;
    text-transform: uppercase;
    line-height: 34px;
}

/*
#site-title a {
    display: inline;
}
*/

.parent-site-header a {
    color: #FFF;
}

#block-menu-menu-studio {
    margin: 0;
    width: 100%;
}

#block-menu-menu-studio h2 {
    display: none;
}

#block-menu-menu-studio ul.links li, #navigation ul.menu li {
    float: left;
    list-style-image: none;
    list-style-type: none;
}

#block-menu-menu-studio ul {
    background-color: #003F87;
    display: table;
    width: 100%;
    padding-left: 0px;
}

#block-menu-menu-studio ul li {
    border: 0;
    margin: 0;
    text-align: center;
    transition: all 0.5s ease 0s;
    padding: 5px;
    width: auto;
}

#block-menu-menu-studio {
    font-family: verdana, muli;
    color: #FFF;
}

#block-menu-menu-studio a {
    font-weight: normal;
}

.menu__item.active {
    background: red;
}

a.menu__link.active {
    font-weight: bold;
}

.page-title h1 {
    display: none !important;
}

#block-menu-menu-studio.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 1080px;
}

.single-page-title {
    display: none;
}

.single-page-wrapper {
    padding-top: 30px;
}

.panel-2col-stacked .panel-col-top, .panel-2col-stacked .panel-col-bottom {
    width: 100%;
}

.rws-node-title {
    color: #003F87;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.rws-header {
    background-color: #BAD80A;
    color: #003F87;
    font-size: 35px;
    font-size: 150%;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px 0px 100px 100px;
    margin-bottom: 34px;
}

.rws-node-description {
    color: #003F87;
    font-size: 18px;
    line-height: 1;
	/* width: 250px;  */
    display: block;
    margin: auto;
    text-align: center;
}

.rws-node-icon {
    background-position: center top;
    height: 200px;
    width: 200px;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#rws-accommodation-icon {
    background: url("//library.wwu.edu/files/RWS_Accommodiation_icon.jpg") no-repeat center;
}

#rws-accommodation-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Accommodation_icon_hover.jpg ") no-repeat center;
}

#libchat_btn_widget a div:hover {
    background-image: url("//library.wwu.edu/files/RWS_Chat_icon_hover.jpg") !important;
}

#rws-class-visit-icon {
    background: url("//library.wwu.edu/files/RWS_Class_Visit_icon.jpg") no-repeat center;
}

#rws-class-visit-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Class_visit_icon_hover.jpg") no-repeat center;
}

#rws-grad-appointment-icon {
    background: url("//library.wwu.edu/files/RWS_Grad_In-Person_icon.jpg") no-repeat center;
}

#rws-grad-appointment-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Grad_In-Person_icon_hover.jpg") no-repeat center;
}

#rws-grad-thesis-partners-icon {
    background: url("//library.wwu.edu/files/RWS_Grad_Thesis_Partners_icon.jpg") no-repeat center;
}

#rws-grad-thesis-partners-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Grad_Thesis_Partners_icon_hover.jpg") no-repeat center;
}

#rws-search-faq-icon {
    background: url("//library.wwu.edu/files/RWS_Search_FAQ.jpg") no-repeat center;
}

#rws-search-faq-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Search_FAQ_hover.jpg") no-repeat center;
}

#rws-send-draft-icon {
    background: url("//library.wwu.edu/files/RWS_Send_Draft_icon.jpg") no-repeat center;
}

#rws-send-draft-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Send_Draft_icon_hover.jpg") no-repeat center;
}

#rws-syllabus-blurb-icon {
    background: url("//library.wwu.edu/files/RWS_Syllabus_Blurb_icon.jpg ") no-repeat center;
}

#rws-syllabus-blurb-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Syllabus_Blurb_icon_hover.jpg ") no-repeat center;
}

#rws-workshops-icon {
    background: url("//library.wwu.edu/files/RWS_Workshops_icon_0.jpg ") no-repeat center;
}

#rws-workshops-icon:hover {
    background: url("//library.wwu.edu/files/RWS_Workshops_icons_hover.jpg ") no-repeat center;
}

#rws-class-partnerships-icon {
    background: url("//library.wwu.edu/files/partnership-icon-green.png ") no-repeat center;
}

#rws-class-partnerships-icon:hover {
    background: url("//library.wwu.edu/files/partnership-icon-white.png ") no-repeat center;
}

.western-header .western-logo a {
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url(/sites/all/themes/wwuzen/images/wwu.png) no-repeat;
    width: 240px;
    height: 135px;
}

    .western-header .western-search .western-search-widget .form-submit {
        border-left: solid 1.75em white;
        box-shadow: none;
    }

    .content article figure {
        margin: 0 auto;
        float: none !important;
        display: block;
    }

    .content article blockquote {
        max-width: 100%;
        margin: .5em;
}

/* http://codepen.io/HugoGiraudel/pen/LklCv */
/* 3 column */
.panel-3col-33-stacked, .panel-2col-stacked {
	  padding: 0;
	  margin: 0;
	  list-style: none;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: block;
	  -webkit-flex-flow: row wrap;
	  justify-content: space-around;
}
.panel-3col-33-stacked .panel-panel:not(:first-child) {
	  padding: 5px;
	  width: 300px;
	  text-align: center;
}
.panel-3col-33-stacked .panel-col-first {
	min-width: 300px;
}

/* 2 column */
.panel-2col-stacked .panel-panel {
	  min-width: 400px;
}

/*
.panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
	width:  auto;
}
*/

#rws-wis-icon {
    background: url('//library.wwu.edu/files/images/RWS_WIS_icon.jpg') no-repeat center;
}

#rws-wis-icon:hover {
    background: url('//library.wwu.edu/files/images/RWS_WIS_icon_hover.jpg') no-repeat center;
}

#rws-fac-nom-icon {
    background: url('//library.wwu.edu/files/images/RWS_fac_nom_icon.jpg') no-repeat center;
}

#rws-fac-nom-icon:hover {
    background: url('//library.wwu.edu/files/images/RWS_fac_nom_icon_hover.jpg') no-repeat center;
}

#rws-email-icon {
    background: url('//library.wwu.edu/files/images/RWS_email_icon.jpg') no-repeat center;
}

#rws-email-icon:hover {
    background: url('//library.wwu.edu/files/images/RWS_email_icon_hover.jpg') no-repeat center;
}

#rws-phone-icon {
    background: url('//library.wwu.edu/files/images/RWS_phone_icon.jpg') no-repeat center;
}

#rws-phone-icon:hover {
    background: url('//library.wwu.edu/files/images/RWS_phone_icon_hover.jpg') no-repeat center;
}

#rws-apply-icon {
    background: url('//library.wwu.edu/files/rws_apply_icon.png') no-repeat center;
}

#rws-apply-icon:hover {
    background: url('//library.wwu.edu/files/rws_apply_icon_hover.png') no-repeat center;
}

#subjectguides {
    background: url("//library.wwu.edu/files/images/rws_subject_guides.jpg") no-repeat;
    height: 255px;
    width: 340px;
    transition: .75 ease-in-out;
}

#subjectguides:hover {
    background: url("//library.wwu.edu/files/images/rws_subject_guides_hover.jpg") no-repeat;
    transition: .75s ease-in-out;
}

.pond-column-content-row2.clearfix {
    margin-top: 2em;
}

/* 23 March 2016 */

/* ------------------------
Getting Started 
*/

#rws-resources-gs-icon {
    background: url("//library.wwu.edu/files/GS.jpg") no-repeat center;
}

#rws-resources-gs-icon:hover {
    background: url("//library.wwu.edu/files/GS%20hover.jpg") no-repeat center;
}

/* ------------------------
Finding & Evaluating Sources
*/

#rws-resources-fes-icon {
    background: url("//library.wwu.edu/files/Finding%20%26%20Evaluating%20Sources.jpg") no-repeat center;
}

#rws-resources-fes-icon:hover {
    background: url("//library.wwu.edu/files/Finding%20%26%20Evaluating%20Sources%20hover.jpg") no-repeat center;
}

/* ------------------------
Drafting & Revising
*/

#rws-resources-re-icon {
    background: url("//library.wwu.edu/files/Drafting%20%26%20Revising.jpg") no-repeat center;
}

#rws-resources-re-icon:hover {
    background: url("//library.wwu.edu/files/Drafting%20%26%20Revising%20hover.jpg") no-repeat center;
}

/* ------------------------
Proofreading & Editing
*/

#rws-resources-pe-icon {
    background: url("//library.wwu.edu/files/Proofreading%20%26%20Editing_1.jpg") no-repeat center;
}

#rws-resources-pe-icon:hover {
    background: url("//library.wwu.edu/files/Proofreading%20%26%20Editing%20hover_0.jpg") no-repeat center;
}

/* ------------------------
Documenting & Citing
*/

#rws-resources-dc-icon {
    background: url("//library.wwu.edu/files/Documenting%20%26%20Citing.jpg") no-repeat center;
}

#rws-resources-dc-icon:hover {
    background: url("//library.wwu.edu/files/Documenting%20%26%20Citing%20hover.jpg") no-repeat center;
}

/* ------------------------
Subject Guides
*/

#rws-resources-sg-icon {
    background: url("//library.wwu.edu/files/images/rws_subject_guides.jpg") no-repeat center;
}

#rws-resources-sg-icon:hover {
    background: url("//library.wwu.edu/files/images/rws_subject_guides_hover.jpg") no-repeat center;
}  

/* ------------------------
Resources Icon Class
*/

.rws-resources-icon {
    height: 255px;
    width: 340px;
    display: block;
    margin: auto;
}

/*-------------------
Webform hide submit button
*/

.form-submit.ajax-processed {
    display: none;
}

.not-logged-in.page-node-16750 .tabs-primary {
    display: none;
}

.not-logged-in.page-node-16750 .tabs-primary {
    display: none;
}


/*----------------
Slide-out button
*/

.lcs_slide_out-r {
  top: 150px !important;
}

#lcs_slide_out-9694 a {
  border-width: 0px 2px 2px !important;
}

.form-item.webform-component.webform-component-textarea.webform-component--diversity {
  white-space: pre-line;
}

/*-------------
FAQ_accordion
*/

#faq-highlight #div1, #faq-highlight #div2, #faq-highlight #div3, #faq-highlight #div4, #faq-highlight #div5, #faq-highlight #div6, #faq-highlight #div7, #faq-highlight #div8, #faq-highlight #div9, #faq-highlight #div10, #faq-highlight #div11, #faq-highlight #div12, #faq-highlight #div13, #faq-highlight #div14, #faq-highlight #div15 {
  border: #ececec 2px solid;
  margin: 10px;
  padding: 3px;
  background-color: #fff;
}

#faq-highlight td .workshop-style {
  border: #ececec 2px solid;
  margin: 1px;
  padding: 10px;
  background-color: #fff;
}

#faq-highlight hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.modern5 {
    background: #0083d6 none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 95%;
    font-weight: 500;
    padding: 10px 4px;
    right: -25px;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    top: 80px;
    transition: all 0.3s ease-out 0s;
    width: 175px;
    line-height: 17px;
    color: white;
    text-align: center;
}

.page-node-17386 div.messages--warning {
    display: none !important;
}

.modern2 {
  display: inline-block;
  padding: 8px 10px;
  background: #C5DB01;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);

  /* Font styles */
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modern2:hover  { background: #d6e86c; text-decoration: underline; }

.covid-attestation {
  display: none !important;
}