@media all and (max-width: 360px) {

    #block-menu-menu-studio ul li {
        display: block;
    }

    .western-header .western-search .western-search-widget {
        width: 16em;
        -webkit-transition: width 0.25s;
        -moz-transition: width 0.25s;
        -o-transition: width 0.25s;
        transition: width 0.25s;
    }
}