@media all and (max-width: 550px) {
    .rws-node-icon {
        padding: 39px;
        width: auto;
        height: auto;
    }


    #site-title {
        padding-left: 1em;
        font-size: 100%;
        /* line-height: inherit; */
    }

    #block-menu-menu-studio ul li {
        display: block;
    }

    .footer-left,.footer-center,.footer-right {
        clear: left;
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
    }

    .footer-center ul.menu {
        padding: 0;
        margin: .5em 1.5em;
    }

    .footer-center .western-privacy-statement {
        margin-left: 1.7em;
        margin-top: -.5em;
        margin-bottom: .5em;
    }

    .footer-right .western-contact-info,.footer-right .western-social-media ul {
        padding-left: 24px;
        padding-left: 1.5rem;
    };
}