@media all and (max-width: 800px) {
    #block-menu-menu-studio ul li {
        display: table-cell;
    }

    .parent-site-header {
        font-size: 100%;
        font-weight: normal;
    }

    #site-title {
        padding-left: 1em;
        font-size: 150%;
        /* line-height: inherit; */
    }

    .mobile-main-nav {
            display:  none;
    }

    @media (-webkit-min-device-pixel-ratio: 2) and (max-width: 800px), (max-width: 800px) and (min-resolution: 192dpi) {

      .western-header .western-search>button {
          background-image: url(/sites/all/themes/wwuzen-library-studio/images/hidef-s0fb977ac75.png);
          -webkit-background-size: 44px 528px;
          -moz-background-size: 44px 528px;
          -o-background-size: 44px 528px;
          background-size: 44px 528px;
          width: 44px;
          height: 44px;
          background-position: 0 -44px;
      }

      .standard-sprite,.standard-expandable-first-child,.standard-expandable-grandchild,.standard-expandable-great-grandchild,.standard-expandable-parent,.standard-main-menu,.western-header .mobile-main-nav,.standard-opened-first-child,.standard-opened-grandchild,.standard-opened-great-grandchild,.standard-opened-parent,.standard-search-gray,.western-header .western-search>button,.standard-search,.standard-toolbar-links,.western-header .western-quick-links button {
          background:url(/sites/all/themes/wwuzen-library-studio/images/standard-s2390c3e984.png) no-repeat;
      }

    }

    .standard-expandable-first-child {
        background-position: 0 -176px;
    }

    .standard-expandable-grandchild {
        background-position: 0 -220px;
    }

    .standard-expandable-great-grandchild {
        background-position: 0 -264px;
    }

    .standard-expandable-parent {
        background-position: 0 -308px;
    }

/*
    .standard-main-menu,.western-header .mobile-main-nav {
        background-position: 0 -88px;
    }
*/

    .standard-opened-first-child {
        background-position: 0 -352px;
    }

    .standard-opened-grandchild {
        background-position: 0 -396px;
    }

    .standard-opened-great-grandchild {
        background-position: 0 -440px;
    }

    .standard-opened-parent {
        background-position: 0 -484px;
    }

    .standard-search-gray,.western-header .western-search>button {
        background-position: 0 -44px;
    }

    .standard-search {
        background-position: 0 0;
    }

    .standard-toolbar-links,.western-header .western-quick-links button {
        background-position: 0 -132px;
    }

    .western-header .western-logo a {
        float: left;
        width: 33.33333%;
        margin-left: 0%;
        /*margin-right: -33.33333%; */
        margin-bottom: -.375em;
        background: url(/sites/all/themes/wwuzen/images/wwuhorizlogo.png) no-repeat;
        background-color: #003f87;
        width: 100%;
        height: 74px;
        text-indent: -999em;
    }

    .western-header nav {
        -webkit-box-shadow: 0px 0px 5px #333;
        -moz-box-shadow: 0px 0px 5px #333;
        box-shadow: 0px 0px 5px #333;
        background: #4b689c;
        width: 44px;
        height: 138px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .western-header .western-quick-links {
        width: 44px;
    }

    .western-header .western-quick-links button {
        width: 44px;
        height: 44px;
        text-indent: -999em;
        border: none;
        margin-bottom: 3px;
    }

    .western-header .western-quick-links ul {
        margin: 0;
        padding: 1.1em .33em .625em .625em;
        background-color: #fff;
        list-style-type: none;
        position: absolute;
        width: 19em;
        right: 44px;
        top: 0;
        display: none;
        overflow: hidden;
        -webkit-box-shadow: #333 0 0 8px;
        -moz-box-shadow: #333 0 0 8px;
        box-shadow: #333 0 0 8px;
    }

    .western-header .western-quick-links ul li {
        text-align: center;
        display: table-cell;
        padding: 0.17em 0.25em 0 0.25em;
    }

    .western-header .western-quick-links ul li:not(:first-child):before {
        content: "";
    }

    .western-header .western-quick-links ul li a {
        text-decoration: none;
        text-transform: none;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        padding: 0;
    }

    .western-header .western-quick-links ul li a span:first-child {
        font-size: 1.825em;
        font-family: 'fontello';
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        padding: 0;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .western-header .western-quick-links ul li a span:last-child {
        display: block;
        font-size: .75em;
    }

    .western-header .western-quick-links ul li a:hover,.western-header .western-quick-links ul li a:focus {
        color: #006b3f;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .western-header .western-quick-links ul li a:hover span:first-child,.western-header .western-quick-links ul li a:focus span:first-child {
        color: #bad80a;
    }

    .western-header .western-search {
        top: 0;
        width: 44px;
    }

    .western-header .western-search>button {
        width: 44px;
        height: 44px;
        text-indent: -999em;
        border: none;
        margin-bottom: 3px;
    }

    .western-header .western-search .western-search-widget {
        clear: right;
        display: none;
        position: absolute;
        width: 19em;
        top: 74px;
        right: 44px;
        z-index: 100;
        margin-top: 0;
        -webkit-transition: width 0.25s;
        -moz-transition: width 0.25s;
        -o-transition: width 0.25s;
        transition: width 0.25s;
    }

    .western-header .mobile-main-nav {
        width: 44px;
        height: 44px;
        text-indent: -999em;
        border: none;
    }

    .main-nav {
        padding: 0;
        margin-top: 0;
        height: 100%;
    }

    .main-nav div div .menu {
        display: none;
        background-color: #E9E9E9;
        list-style-type: none;
    }

    .main-nav div div .menu li {
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
        width: 100%;
        float: none;
        text-align: left;
        display: block !important;
        border-top: solid 1px white;
        text-transform: none;
        font-size: .9em;
        padding: 0;
    }

    .main-nav div div .menu li a {
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        text-decoration: none;
        color: #fff;
        display: block;
        cursor: pointer;
        width: auto;
    }

    .main-nav div div .menu li.is-expanded {
        cursor: s-resize;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main-nav div div .menu li.is-expanded .is-expanded {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .main-nav div div .menu li.is-expanded>a {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main-nav div div .menu li.is-expanded.opened {
        cursor: n-resize;
    }

    .main-nav div div .menu li ul {
        padding-left: 0;
        position: relative;
        background-color: #E9E9E9;
    }

    .main-nav div div .menu li ul li {
        background-color: #4b689c;
        font-size: 1em;
    }

    .main-nav div div .menu li ul li ul li {
        background-color: #6f86af;
    }

    .main-nav div div .menu li ul li ul li ul li {
        background-color: #93a4c3;
    }

    .main-nav div div .menu li.expanded .menu {
        display: none;
    }

    .main-nav div div .menu li.expanded .menu li a {
        position: relative;
        right: -44px;
        margin-left: -44px;
    }

    .main-nav div div .menu li.expanded .menu li.is-expanded>a {
        position: static;
        margin-left: 0;
    }

    .expanded {
        background-image: url(/sites/all/themes/wwuzen/images/icons/expandable-parent.png);
    }

    .opened {
        background-image: url(/sites/all/themes/wwuzen/images/icons/opened-parent.png);
    }

    .expanded,.opened {
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 44px 44px;
    }

    .expanded .expanded,.opened .expanded {
        background-image: url(/sites/all/themes/wwuzen/images/icons/expandable-first-child.png);
    }

    .expanded .opened,.opened .opened {
        background-image: url(/sites/all/themes/wwuzen/images/icons/opened-first-child.png);
    }

    .expanded .expanded .expanded,.expanded .opened .expanded,.opened .expanded .expanded,.opened .opened .expanded {
        background-image: url(/sites/all/themes/wwuzen/images/icons/expandable-grandchild.png);
    }

    .expanded .expanded .opened,.expanded .opened .opened,.opened .expanded .opened,.opened .opened .opened {
        background-image: url(/sites/all/themes/wwuzen/images/icons/opened-grandchild.png);
    }

    .expanded .expanded .expanded .expanded,.expanded .expanded .opened .expanded,.expanded .opened .expanded .expanded,.expanded .opened .opened .expanded,.opened .expanded .expanded .expanded,.opened .expanded .opened .expanded,.opened .opened .expanded .expanded,.opened .opened .opened .expanded {
        background-image: url(/sites/all/themes/wwuzen/images/icons/expandable-great-grandchild.png);
    }

    .expanded .expanded .expanded .opened,.expanded .expanded .opened .opened,.expanded .opened .expanded .opened,.expanded .opened .opened .opened,.opened .expanded .expanded .opened,.opened .expanded .opened .opened,.opened .opened .expanded .opened,.opened .opened .opened .opened {
        background-image: url(/sites/all/themes/wwuzen/images/icons/opened-great-grandchild.png);
    }

    .site-banner {
        display: none;
    }

    .site-header a:link,.site-header a:visited,.site-header a:hover,.site-header a:active,.site-header a:focus {
        color: #fff;
        text-decoration: none;
    }

    .site-name {
        background-image: none;
        clear: left;
        z-index: -10;
        background-color: #0070b6;
        background: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#008fe9),color-stop(100%,#0070b6));
        background: -webkit-linear-gradient(top,#008fe9,#0070b6);
        background: -moz-linear-gradient(top,#008fe9,#0070b6);
        background: -o-linear-gradient(top,#008fe9,#0070b6);
        background: linear-gradient(top,#008fe9,#0070b6);
        padding: 0 0 .5em 1.25em;
        font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        text-align: right;
        padding: .75em 1em;
        line-height: 1.55;
        min-height: 46px;
    }

    .site-name p {
        text-decoration: none;
        color: #fff;
        margin: 0.4em 0 0 0;
        display: block;
        width: 80%;
        font-size: 1.25em;
        text-align: left;
        padding: 0;
    }

    main {
        clear: left;
        margin-top: 0em;
    }

    main .page-title {
        border-bottom: none;
        /* padding: .9em 0 1em 0; */
        margin-bottom: 0em;
    }

    main .breadcrumb {
        display: none;
    }

    html.ie9 main {
        float: left;
    }

    #block-accordion-menu-1 {
        display: none;
    }

    #edit-subject {
        width: 100%;
    }

    .left-column {
        float: left;
        width: 100%;
    }

    .right-column {
        clear: left;
        width: 100%;
    }

    .footer-left .footer-site-name,.footer-left p:first-child {
        padding-left: 24px;
        padding-left: 1.5rem;
        margin-bottom: 0;
    }

    .footer-left .block {
        margin-bottom: 0;
    }

    .footer-right h1 {
        margin: 0 0 1.2em 0;
    };

}

@media all and (min-width:551px) and (max-width:800px) {
    .footer-left {
        float: left;
        width: 50%;
        margin-left: 0%;
        margin-right: -50%;
    }

    .footer-center {
        float: left;
        width: 50%;
        margin-left: 50%;
        margin-right: -100%;
    }

    .footer-center ul.menu {
        padding: 0 2em 0 0;
        margin: .5em 0;
    }

    .footer-center .western-privacy-statement {
        margin-top: -.5em;
        margin-bottom: .5em;
    }

    .footer-right {
        clear: left;
    }

    .footer-right .western-contact-info {
        float: left;
        width: 50%;
        margin-left: 0%;
        margin-right: -50%;
    }

    .footer-right .western-contact-info p {
        margin-left: 24px;
        margin-left: 1.5rem;
    }

    .footer-right .western-social-media {
        float: left;
        width: 50%;
        margin-left: 50%;
        margin-right: -100%;
    }

    .footer-right .western-social-media ul {
        padding-left: 0;
        margin-top: 0;
    };
}
