/**
 * @file
 * Customization for Grandchild
 *
 */
/* *******************
   Color Variables
******************* */
/* *******************
        Mixins
******************* */
h1, h2, h3, h4, h5, h6 {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    font-weight: normal;
}
ul li.expanded {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==");
    list-style-type: circle;
}
ul li.collapsed {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC");
    list-style-type: disc;
}
ul li.leaf {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAAD1BMVEX///+/v7+Li4sAAADAwMBFvsw8AAAAAXRSTlMAQObYZgAAAB1JREFUCFtjYAADYwMGBmYVZSDhKAwkFJWhYiAAAB2+Aa/9ugeaAAAAAElFTkSuQmCC");
    list-style-type: square;
}
li a.active {
    color: #000000;
}
#navigation {
    padding-top: 10px;
}
#navigation .block {
    margin-bottom: 0;
    width: 100%;
}
#navigation .block-menu .block-title, #navigation .block-menu-block .block-title {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
#navigation ul.links, #navigation ul.menu {
    margin: 0;
    padding: 0;
    text-align: left;
}
#navigation ul.links li, #navigation ul.menu li {
    float: left;
    list-style-image: none;
    list-style-type: none;
}
#secondary-menu {
    float: right;
}
#navigation {
    height: 24px;
    padding: 10px 0px 0px 0px;
    width: 100%;
}
#navigation #main-menu {
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
}
#navigation #main-menu ul {
    display: table;
    width: 100%;
}
#navigation #main-menu ul li {
    background-color: #003F87;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 3px 0 0;
    display: table-cell;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
#navigation #main-menu ul li:hover {
    background-color: #DDDDDD;
    color: #003F87;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}
#navigation #main-menu ul li:hover a {
    color: #003F87;
    transition: all 0.1s ease 0s;
}
#navigation #main-menu ul li a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}
#navigation #main-menu ul li:last-child {
    border: medium none;
}
#navigation #main-menu ul li.active {
    background-color: #DDDDDD;
    transition: all 0.5s ease 0s;
}
#navigation #main-menu ul li.active:hover {
    background-color: #EEEEEE;
    transition: all 0.1s ease 0s;
}
#navigation #main-menu ul li.active .active {
    color: #003F87;
}
.block-accordion-menu .ui-accordion-header, .ui-accordion .ui-accordion-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    background-image: none;
    border-color: -moz-use-text-color -moz-use-text-color #FFFFFF;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    margin: 0;
}
.block-accordion-menu .ui-accordion-header .active-trail, .ui-accordion .ui-accordion-content .active-trail {
    background-color: #DDDDDD;
}
.block-accordion-menu .ui-accordion-header .active, .ui-accordion .ui-accordion-content .active {
    background-color: #BAD80A;
}
.block-accordion-menu .ui-accordion-header .active:hover, .ui-accordion .ui-accordion-content .active:hover {
    color: #006B3F;
    transition: all 0.3s ease 0s;
}
.block-accordion-menu .ui-accordion-header span.accordion-link, .ui-accordion .ui-accordion-content span.accordion-link {
    padding: 0.5em 0;
}
.block-accordion-menu .ui-accordion-header a, .block-accordion-menu .ui-accordion-header span.accordion-link, .ui-accordion .ui-accordion-content a, .ui-accordion .ui-accordion-content span.accordion-link {
    color: #222222;
    display: block;
    font-size: 0.925em;
    padding-left: 1em;
    transition: all 0.5s ease 0s;
}
.block-accordion-menu .ui-accordion-header a:hover, .block-accordion-menu .ui-accordion-header span.accordion-link:hover, .ui-accordion .ui-accordion-content a:hover, .ui-accordion .ui-accordion-content span.accordion-link:hover {
    color: #0083D6;
    transition: all 0.3s ease 0s;
}
.block-accordion-menu .ui-accordion-header {
    background-image: -moz-linear-gradient(left center , #EEEEEE 0%, #EEEEEE 84%, #FFFFFF 84%, #DDDDDD 85%, #DDDDDD 100%);
}
.block-accordion-menu .ui-accordion-header .ui-icon {
    left: auto;
    margin: 0.5em 0;
    right: 0.75em;
    top: auto;
}
.block-accordion-menu .ui-accordion-header .accordion-link {
    margin-right: 2.5em;
}
.ui-accordion .ui-accordion-header .accordion-link a {
    margin: 0;
    padding: 0;
}
.block-accordion-menu .no-children {
    background-image: none;
}
.block-accordion-menu .no-children a {
    padding-left: 1em;
}
.block-accordion-menu .no-children .ui-icon {
    display: none;
}
.ui-corner-all {
    border-radius: 0 0 0 0;
}
.ui-corner-top {
    border-radius: 0 0 0 0;
}
.ui-corner-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ui-accordion .ui-accordion-content {
    border: medium none;
    font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
    font-size: 0.925em;
    margin: 0;
    padding: 0;
    top: 0;
}
.ui-widget-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-accordion-content ul.menu {
    margin: 0;
    padding: 0;
}
.ui-accordion-content ul.menu li {
    display: block;
}
.ui-accordion-content ul.menu li a {
    border-bottom: 1px solid #FFFFFF;
    display: block;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    text-decoration: none;
}
.ui-accordion-content ul.menu li a.first a {
    margin: 0;
}
.ui-accordion-content ul.menu li li a {
    padding-left: 3.5em;
}
.ui-accordion-content ul.menu li li li a {
    padding-left: 5em;
}
.ui-accordion-content ul.menu li li li li a {
    padding-left: 6.5em;
}
.ui-accordion-content ul.menu li li li li li a {
    padding-left: 8em;
}
.ui-accordion-content ul.menu > ul.menu li {
    padding-left: 0;
}
.ui-accordion-content ul.menu > ul.menu li > li {
    padding-left: 0;
}
