#post-it-note ul, #post-it-note li{
  list-style:none;
}

#post-it-note ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:9em;
  width:9em;
  padding: 5px 5px;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

#post-it-note-pos2 #post-it-note ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:7em;
  width:7em;
  padding: 5px 5px;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}


#post-it-note ul li{
  margin:1em;
  float:left;
}

#post-it-note ul li h2{
  font-size:120%;
  font-weight:bold;
  padding-bottom:0px;
}

#post-it-note ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:130%;
  color: red;
  line-height: normal;
}

#post-it-note-pos2 #post-it-note ul li h2{
  font-size:100%;
  font-weight:bold;
  padding-bottom:0px;
}

#post-it-note-pos2 #post-it-note ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:110%;
  color: red;
  line-height: normal;
}

#post-it-note ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

#post-it-note ul li a:hover,ul li a:focus{
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
